/*
  button component

  general styling
  buttons in the context area
  icon
  invisible label in button for screen readers
  combined buttons placed next to each other
  small variant
  danger variant
  confirmation variant
*/



/* general styling
============================================================================ */
.button {
  padding: .7rem 1rem;
  display: inline-flex;
  align-items: center;
  gap: .6em;

  border-radius: .5rem;
  background-color: var(--color-middleground);

  leading-trim: both;
  line-height: 1em;
  color: var(--color-text);

  transition: all .1s linear;
}

button:not(:disabled),
.button:not(.disabled) {
  cursor: pointer
}

button:not(:disabled):hover,
.button:not(.disabled):hover {
  background-color: rgba(var(--color-rgb-interaction-hover), .2);
}

button:focus-visible,
.button:focus-visible {
  box-shadow: 0 0 1px 2px var(--color-interaction-hover);
}

.button.active {
  background-color: rgba(var(--color-rgb-interaction-hover), .1);
}


/* buttons in the context area
============================================================================ */
.content-context .button {
  background-color: var(--color-context-button-background);

  color: var(--color-context-button-text);
}

.content-context .button:hover {
  background-color: var(--color-context-button-background-hover);
}

.content-context .button:hover svg {
  color: currentColor;
}



/* icon
============================================================================ */
.button svg {
  width: 18px;
  height: 18px;
  margin-block: -.04rem;

  pointer-events: none;
}

.button:not(:disabled):hover svg {
  color: var(--color-interaction);
}

.button:has(svg) {
  padding-block: .64rem;
}

.button:disabled svg {
  color: var(--color-text-secondary);
}


/* invisible label in button for screen readers
============================================================================ */
.button .label,
button .label {
  position: absolute;
  left: -100vw;
}


/* combined buttons placed next to each other
============================================================================ */
.combo {
  display: flex;
  gap: 1px;
}

.combo .button:first-of-type {
  border-radius: .5rem 0 0 .5rem;
}

.combo .button:last-of-type {
  border-radius: 0 .5rem .5rem 0;
}



/* small variant
============================================================================ */
.button.compact {
  padding: .4rem;
}


/* danger variant
============================================================================ */
.button.danger {
  color: var(--color-danger);
}


/* danger variant
============================================================================ */
.button.confirmation {
  background-color: rgba(var(--color-rgb-confirmation), .2);

  color: var(--color-confirmation);
}

.button.confirmation:hover {
  color: var(--color-confirmation);
}

.button.confirmation:hover svg {
  color: inherit;
}
