/*
  stores universally shared ulility classes and general page styling

  main page
  context sections
  links
  utilities
*/



/* main page
============================================================================ */
body {
  height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;

  background-color: var(--color-page);

  font-family: var(--font-normal);
  color: var(--color-text);
}


/* context sections
============================================================================ */
.content-context {
  background-color: var(--color-context);

  color: var(--color-text-inverted);
}


/* links
============================================================================ */
a {
  transition-property: color, background-color;
  transition-duration: .1s;
  transition-timing-function: ease-in-out;
}


/* utilities
============================================================================ */

/* used to mark keyboard shortcuts */
kbd {
  padding: .4em .2em;

  border-radius: .2em;
  background-color: var(--color-middleground);

  text-transform: uppercase;
  line-height: .6em;
  font-family: monospace;
}
