<div class="flex items-center justify-around py-20">
  <h3 class="title">
    {{ 'app.<%= modelNamePlural %>.list.empty_state' | t }}
  </h3>

  <a href="/<%= modelNamePlural %>/new" class="text-lg button">
    {{ 'app.<%= modelNamePlural %>.list.add' | t }}
  </a>
</div>
